<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665993343465-gv4v6pb0iv071it8jpdbn02a6go2pg2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665993343465-gv4v6pb0iv071it8jpdbn02a6go2pg2n</string>
	<key>API_KEY</key>
	<string>AIzaSyBE7e9aEsshPYcW84SCnfmb8pbe-v3-s8k</string>
	<key>GCM_SENDER_ID</key>
	<string>665993343465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>rookas-tinder</string>
	<key>STORAGE_BUCKET</key>
	<string>rookas-tinder.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665993343465:ios:3f35236c654bec9630db78</string>
</dict>
</plist>